
body {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0 10px 0;
  padding: 12px 5px 0;
  font-size: 2rem;
  font-family: 'Graduate', cursive;
}

h3 {
  padding-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2;
}

#main-body {
  padding: 0;
}

.daily-word {
  display: none;
}

.word-list {
  display: none;
}

/* popup pages including options, guide and score chart */
/* General popup style */
.pop-up {
  display: none;
  padding: 2px 12px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 11vh;
  width: 510px;
  height: 570px;
  border-radius: 1.5%;
  background-color: #121213;
  border: 1px solid #1a1a1b;
  text-align: left;
}

/* Guide and options pages */
.example {
  font-family: 'Graduate', cursive;
  width: 45px;
  height: 45px;
  margin: 0 2px 8px;
  font-size: 1.7rem;
  border: 2px solid #4A403A;
}

.card-3-letter-4 {
  background-color: #4A403A;
}

.flex-row {
  position: relative;
  text-align: center;
}

/* Options dropdown menu */
#options-menu {
  color: grey;
  background-color: black;
  border-radius: 0;
  height: calc(100vh - 60px);
  right: auto;
  top: 60px;
  width: 330px;
  text-align: left;
}

.dropdown-options {
  font-size: 1rem;
  margin: 7vh 2.5vw 0;
}

.daily-challenge {
  color: grey;
  text-decoration: none;
}

.daily-challenge:hover {
  color: white;
}

/* Score chart page */
#score-chart {
  top: 17vh;
  height: 480px;
  text-align: center;
}

.figure {
  font-size: 2.15rem;
  height: 45px;
}

.game-stats {
  width: max-content;
}

.col {
  padding: 0;
}

.chart-area {
  padding-bottom: 40px;
  width: 85%;
}

.close-window {
  background-color: #121213;
  border-color: #121213;
  float: right;
  padding: 0 6px;
  font-family: var(--bs-body-font-family);
}

.close-stats {
  background-color: #121213;
  border-color: #121213;
  float: right;
  padding: 0 6px;
  font-family: var(--bs-body-font-family);
}


/* Navigation bar */
#navigator {
  height: 60px;
  margin-bottom: 0;
  padding: 0;
  border-bottom: solid 2px grey;
}

.nav-tag {
  font-size: 0.8rem;
  color: grey;
  position: absolute;
  width: max-content;
  top: 30px;
  right: 2.5vw;
  margin: 0 10px;
}

.options-tag {
  left: 2.5vw;
}

.unlimited-mode-label {
  font-family: 'Graduate', cursive;
  font-size: 0.7rem;
  position: absolute;
  width: max-content;
  top: 2px;
  left: 68px;
  right: 0;
  margin: 0 auto;
}

.daily-mode-label {
  font-family: 'Graduate', cursive;
  font-size: 0.7rem;
  position: absolute;
  width: max-content;
  top: 2px;
  left: 100px;
  right: 0;
  margin: 0 auto;
}


/* Main area including guess board and keyboard */
/* Guess board including feedback */
#guess-board {
  padding: 1% 2% 3%;
  height: 100%;
}

#feedback {
  opacity: 0;
  color: black;
  font-size: 1rem;
  padding: 8px;
  height: 8%;
  border: 2px solid white;
  border-radius: 5%;
  background-color: white;
}

#card {
  font-family: 'Graduate', cursive;
  width: 60px;
  height: 60px;
  margin: 3px;
  font-size: 2.2rem;
  position: relative;
}

.front {
  border: 2px solid #4A403A;
}

/* Keyboard */
.key {
  width: 45px;
  height: 52px;
  background: #7F7C82;
  margin: 3px;
  border-radius: 8%;
  padding: 16px 10px 10px;
}

.func-key {
  width: 67.5px;
  color: black;
  background-color: #D1D1D1;
}


/* In game effects */
/* Colours */
/* Letter colour classes */
.blue-letter {
  color: #008E89;
}

.yellow-letter {
  color: #FDB827;
}

.red-letter {
  color: #FF0000;
}

.pink-letter {
  color: #FF95C5;
}

.green-letter {
  color: #4E9F3D;
}

.purple-letter {
  color: #9C19E0;
}

.bright-pink-letter {
  color: #FF5DA2;
}

/* Main colour classes */
.green {
  background-color: #4E9F3D;
  border: 2px solid #4E9F3D;
}

.blue {
  background-color: #008E89;
  border: 2px solid #008E89;
}

.red {
  background-color: #FF0000;
  border: 2px solid #FF0000;
}

.purple {
  background-color: #9C19E0;
  border: 2px solid #9C19E0;
}

.yellow {
  background-color: #FDB827;
  border: 2px solid #FDB827;
}

.pink {
  background-color: #FF95C5;
  border: 2px solid #FF95C5;
}

.bright-pink {
  background-color: #FF5DA2;
  border: 2px solid #FF5DA2;
}

.black {
  background-color: #4A403A;
  border: 2px solid #4A403A;
}

/* Interactions effects */
.pressed {
  box-shadow: 0 20px 20px 0 #4A403A;
  opacity: 0.5;
}

.hover {
  color: white;
}

.scheme-hover {
  border: solid 2px white;
}


/* Game lost effect */
.game-lost {
  color: red;
}

/* No scroll */
.no-scroll {
  overflow: hidden;
}


/* Media queries */

@media (max-width: 576px) {
  .key-row-2 {
    width: 100%;
    padding: 0 5%;
  }
  #guess-board {
    padding-bottom: 10px;
  }
  #instructions {
    width: 90%;
  }
  #options-page {
    width: 90%;
  }
  #score-chart {
    width: 90%;
  }
  #options-menu {
    width: 100%;
  }
}
